/* 
    General Styles
*/
body {
    background-image: url(https://png.pngtree.com/background/20220716/original/pngtree-pure-original-dream-black-and-white-galaxy-sky-background-picture-image_1644180.jpg);
    background-position: center;
    background-repeat: repeat; 
    background-size:cover;
    position: relative;
    overflow:auto;
    overflow-x: hidden;
    font-family: 'Black Ops One', system-ui;
}

.navbar{
    z-index: 1000;
    background: transparent !important;
}

.neon-shadow {
    text-shadow: 0 0 30px white , 0 0 30px white;
}

.box-shadow {
    box-shadow: 0 0 40px white;
}

.resize-pics {
    height: auto !important;
    width: 50% !important;
}

/* .resize-card-details-img {
    height: 300px;
    width: 250px;
} */
